@using BOL;
@{
    ViewData["Title"] = "Display Product Page";
}

    @{
        Product product = (Product)ViewData["details"];
        <ul>
            <li>@product.ProdId</li>
            <li>@product.ProdName</li>
            <li>@product.Price</li>
            <li>@product.AvlbUnits</li>
        </ul>
    }
    
    